.select .main {
    border: 1px solid black;
    border-radius:15px ;
    display: inline-block;
    min-height: 25px;
    min-width: 60px;
    align-items: center;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
}


.item.selected {
    background-color: dodgerblue;
    color: white;
}

.select.active .items {
    display: block;
}